footer {
    background-color: #9f9d9d;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 3vh;
    height: 15vh;
}

.dark {
    color: #212121;
    height: 16vh;
    margin-top: -3vh;
    padding-top: 1vh;
    align-content: center;
}

