<footer class="text-center text-white">
      <!-- Grid container -->
      <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="iconSection">
          <!-- Facebook -->
          <a
            class="socialMediaIcon"
            href="www.facebook.com"
            role="button"
            data-mdb-ripple-color="dark"
            >
            <img src="../../assets/images/socialMediaIcons/facebookIcon.PNG" alt="www.facebook.com">
          </a>
    
          <!-- Google -->
          <a
            class="socialMediaIcon"
            href="mailto:fenix.sampson@gmail.com"
            role="button"
            data-mdb-ripple-color="dark"
            >

            <img src="../../assets/images/socialMediaIcons/emailIcon.PNG" alt="www.google.com">
          </a>

          <!-- Linkedin -->
          <a
            class="socialMediaIcon"
            href="https://www.linkedin.com/in/fenix-sampson-bb1a30219/"
            role="button"
            data-mdb-ripple-color="dark"
            >

            <img src="../../assets/images/socialMediaIcons/linkedinIcon.PNG" alt="www.linkedin.com">
          </a>

          <!-- Github -->
          <a
            class="socialMediaIcon"
            href="https://github.com/FenixS83"
            role="button"
            data-mdb-ripple-color="dark"
            >
            
            <img src="../../assets/images/socialMediaIcons/githubIcon.PNG" alt="www.github.com">
          </a>
        </section>

        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class='copyrightBar'>
        <div class="dark" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-dark" href='https://github.com/FenixS83'>Terry Huston "Fenix" Sampson</a>
        </div>
      </div>
      <!-- Copyright -->
    
  </footer>