.about-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    justify-content: flex-start;

}

app-selfie {
    order: 1;
    margin-top: 3vh;
    float: right;
}

.about {
    font-size: 20px;
    margin-left: 5vw;
    margin-top: 5vh;
}

hr {
    border: 4px solid #5171ff;
}

.soon {
    font-size: 28px;
    text-align: center;
}