
<div class='container my-5'>

    <div class="row my-5">
        <h3 class='fs-3 lead text-center fw-bold'>Coding Proficiencies</h3>
        <!-- <div class='proficienciesHeader'>
        </div> -->
        <div class="row justify-content-around my-5">

            <!-- <div class='frontEndProficiencies'> -->
                <ul class="list-group list-group-flush col-md-4 mb-3">
                    <h3 class="text-center fs-4">Front-end:</h3>
                    <li class="list-group-item my-1 fs-5">Angular
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">Bootstrap
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:50%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">CSS
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:60%'><p>Intermediate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">Flowchart
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:60%'><p>Intermediate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">HTML
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:70%'><p>Intermediate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">JavaScript
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">jQuery
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:20%'><p>Beginner</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">PWA
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:40%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">React/Redux
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">UX/UI
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:40%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">Wireframe
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:40%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                </ul>
            <!-- </div>
            <div class='backEndProficiencies'> -->
                <ul class="list-group list-group-flush col-md-4 mb-3">
                    <h3 class="text-center fs-4">Back-end:</h3>
                    <li class="list-group-item my-1 fs-5">APIs
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">Express
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">GraphQL
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:20%'><p>Beginner</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">Node.js
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:50%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">MongoDB
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">Mongoose
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">MySQL
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">REST
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">Sequelize
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:40%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1 fs-5">SQL
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                </ul>
                
            <!-- </div> -->
        </div>
    <hr>
    <div class='container my-3'>
        <h3 class='fs-3 lead text-center fw-bold'>Certifications</h3>
        <!-- <div class='certificationsHeader'>
        </div> -->
        <br>
        <div class='certifications my-5' *ngFor='let certificate of certificate; last as isLast'>
            <a [href]='certificate.certificateImage' target="_blank">
                <img [src]='certificate.certificateImage'
                     [title]='certificate.organization | uppercase'
                     [alt]='certificate.organization'
                    class='img-fluid col-md-6 mb-5 float-end'/>
            </a>
            <br>
            <div class='fs-4 mb-1'>Issued by:</div>
            <div class='fs-5 fw-bold'>{{certificate.organization}}</div>
            <br>
            <br>
            <div class='fs-4 mb-1'>Topic of focus:</div>
            <div class='fs-5 fw-bold'>{{certificate.topic}}</div>
            <br>
            <div class='fs-4 mb-1'>Date of Certification:</div>
            <div class='fs-5 fw-bold'>{{certificate.issuedDate}}</div>
            <hr class='col-md-12 my-5' *ngIf="!isLast">
        </div>
    </div>
</div>

