
<div class='certifications-card'>

    <div class='proficienciesBody'>
        <div class='proficienciesHeader'>
            <h3>Proficiencies</h3>
        </div>
        <div class='proficienciesSection'>

            <div class='frontEndProficiencies'>
                <h3>Front-end:</h3>
                <ul className="skills">
                    <li>Angular
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li>Bootstrap
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:50%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li>CSS
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:60%'><p>Intermediate</p></div>
                        </div> -->
                    </li>
                    <li>Flowchart
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:60%'><p>Intermediate</p></div>
                        </div> -->
                    </li>
                    <li>HTML
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:70%'><p>Intermediate</p></div>
                        </div> -->
                    </li>
                    <li>JavaScript
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li>jQuery
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:20%'><p>Beginner</p></div>
                        </div> -->
                    </li>
                    <li>PWA
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:40%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li>React/Redux
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li>UX/UI
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:40%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li>Wireframe
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:40%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                </ul>
            </div>
            <div class='backEndProficiencies'>
                <h3>Back-end:</h3>
                <ul className="skills">
                    <li>APIs
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li>Express
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li>GraphQL
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:20%'><p>Beginner</p></div>
                        </div> -->
                    </li>
                    <li>Node.js
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:50%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li>MongoDB
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li>Mongoose
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li>MySQL
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li>REST
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li>Sequelize
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:40%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li>SQL
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                </ul>
                
            </div>
        </div>
    <hr>
    <div class='CertificationsBody'>
        <div class='certificationsHeader'>
            <h3>Certifications</h3>
        </div>
        <br>
        <div class='certifications' *ngFor='let certificate of certificate; last as isLast'>
            <a [href]='certificate.certificateImage' target="_blank">
                <img [src]='certificate.certificateImage'
                     [title]='certificate.organization | uppercase'
                     [alt]='certificate.organization'
                    class='certificateImage'/>
            </a>
            <br>
            <div class='issuedBy'>Issued by:</div>
            <div class='organization'>{{certificate.organization}}</div>
            <br>
            <br>
            <div class='focusArea'>Topic of focus:</div>
            <div class='topic'>{{certificate.topic}}</div>
            <br>
            <div class='certificationDate'>Date of Certification:</div>
            <div class='date'>{{certificate.issuedDate}}</div>
            <hr *ngIf="!isLast">
        </div>
    </div>
</div>

