
<div class='container my-5'>

    <div class="row my-5">
        <h3 class='fs-3 lead text-center fw-bold'>Coding Proficiencies</h3>
        <!-- <div class='proficienciesHeader'>
        </div> -->
        <div class="row justify-content-around my-5">

            <!-- <div class='frontEndProficiencies'> -->
                <ul class="list-group list-group-flush col-md-4">
                    <h3 class="text-center">Front-end:</h3>
                    <li class="list-group-item my-1">Angular
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">Bootstrap
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:50%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">CSS
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:60%'><p>Intermediate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">Flowchart
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:60%'><p>Intermediate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">HTML
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:70%'><p>Intermediate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">JavaScript
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">jQuery
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:20%'><p>Beginner</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">PWA
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:40%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">React/Redux
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">UX/UI
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:40%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">Wireframe
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:40%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                </ul>
            <!-- </div>
            <div class='backEndProficiencies'> -->
                <ul class="list-group list-group-flush col-md-4 my-3">
                    <h3>Back-end:</h3>
                    <li class="list-group-item my-1">APIs
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">Express
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">GraphQL
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:20%'><p>Beginner</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">Node.js
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:50%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">MongoDB
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">Mongoose
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">MySQL
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">REST
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">Sequelize
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:40%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                    <li class="list-group-item my-1">SQL
                        <!-- <div class='progressBar'>
                            <div class='progressBarFill' style='width:30%'><p>Moderate</p></div>
                        </div> -->
                    </li>
                </ul>
                
            <!-- </div> -->
        </div>
    <hr>
    <div class='CertificationsBody'>
        <h3 class='fs-3 lead text-center fw-bold'>Certifications</h3>
        <!-- <div class='certificationsHeader'>
        </div> -->
        <br>
        <div class='certifications my-5' *ngFor='let certificate of certificate; last as isLast'>
            <a [href]='certificate.certificateImage' target="_blank">
                <img [src]='certificate.certificateImage'
                     [title]='certificate.organization | uppercase'
                     [alt]='certificate.organization'
                    class='img-fluid col-md-6 mb-5 float-end'/>
            </a>
            <br>
            <div class='fs-5'>Issued by:</div>
            <div class='fs-5 fw-bold'>{{certificate.organization}}</div>
            <br>
            <br>
            <div class='fs-5'>Topic of focus:</div>
            <div class='fs-5 fw-bold'>{{certificate.topic}}</div>
            <br>
            <div class='fs-5'>Date of Certification:</div>
            <div class='fs-5 fw-bold'>{{certificate.issuedDate}}</div>
            <hr class='col-md-12 my-5' *ngIf="!isLast">
        </div>
    </div>
</div>

