.certifications-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 24vh;
}

.proficienciesBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proficienciesHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -2vw;
}

.proficienciesSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vh;
}

.progressBar {
    float: right;
    height: 30px;
    width: 150px;
    background-color: #545455;
    border: 2px solid #5ae0e5;
}

.progressBarFill {
    height: 100%;
    background-color: #5371ff;
    color: #dcdcde;
    font-size: small;
}

span {
    margin: auto;
}

li {
    margin-bottom: 6px;
}

.frontEndProficiencies {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
}

.backEndProficiencies {
    display: flex;
    float: right;
    flex-direction: column;
    justify-content: space-around;
    /* margin-top: -51vh; */
    margin-left: 20vw;
    width: 30vw;
}

hr {
    border-top: 4px solid #5171ff;
}

.certificationsHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -2vw;
}

.certificateImage {
    float: right;
    width: 45vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
    border: 1px solid black;
}

.issuedBy {
    font-size: large;
    font-weight: 300;
}

.organization {
    font-size: larger;
    font-weight: 450;
    text-align: justify;
}

.focusArea {
    font-size: large;
    font-weight: 300;
}

.topic {
    font-size: larger;
    font-weight: 500;
    text-align: justify;
}

.certificationDate {
    font-size: large;
    font-weight: 300;
}

.date {
    font-size: larger;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 23vh;
}
