.contactCard {
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.businessCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30vw;
    margin-left: 50vw;
    margin-top: -30vh;
}