<div class='contactCard'>
    <div class='contactCard__header'>
        <h3>Contact</h3>
    </div>
    <div class='contactCard__body'>
        <a href='../../assets/images/fenix_sampson_business_card.PNG'>
            <img src='../../assets/images/fenix_sampson_business_card.png' alt='Fenix Sampson Business Card'
            title='Fenix Sampson Business Card'
            class='businessCard'/>
        </a>
        <div class='contactCard__body__contact'>
            <br>
            <h4>Thank you for visiting!</h4>
            <p>
                I hope you have found your visit here helpful and useful. 
                <br>
                I'm currently looking for opportunities to work on my professional develpment. 
                <br>
                If you have any projects that I can assist you with, please feel free to contact me.
                <br>
                I look forward to hearing from you soon!!
            </p>
            <p>
                <a href='mailto:fenix.sampson@gmail.com'>
                    fenix.sampson@gmail.com
                </a>
            </p>
            <p>
                <a href='tel:1-205-317-7681'>
                    (205) 317-7681
                </a>
            </p>
            <p>
                Github:
                <a href='https://github.com/FenixS83'>
                    FenixS83
                </a>
            </p>
        </div>
    </div>
</div>
