/* .contactCard {
    margin-top: 5vh;
    margin-bottom: 5vh;
} */


img {
    border: 1px solid #adaba8;
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* width: 400px; */
    /* margin-left: 50vw;
    margin-top: -30vh; */
    /* float: right; */
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 0px 7px rgba(0,0,0,0.45);
    border-radius: 5px;
}

img:hover {
    box-shadow: -1px -1px 20px -1px rgba(81,113,255,0.5);
}

/* .contactCard__body__contact {
    width: 45vw;
} */

/* a {
    text-decoration: none;
} */