<div class='container my-5 pb-3'>
    <h3 class='fs-3 lead text-start fw-bold'>Contact</h3>
    <!-- <div class='contactCard__header'>
    </div> -->
    <div class='contactCard__body'>
        <a href='../../assets/images/Fenix_Business_Card.png' target='_blank' class="text-decoration-none">
            <img src='../../assets/images/Fenix_Business_Card.png' alt='Fenix Sampson Business Card'
            title='Fenix Sampson Business Card'
            class='img-fluid col-md-4 mb-5 float-end'/>
        </a>
        <!-- <div class='contactCard__body__contact'> -->
            <br>
            <h4 class='fs-4 lead text-start fw-bold'>Thank you for visiting!</h4>
            <p class="col-md-6">
                I hope you have found your visit here helpful and useful. 
                <br>
                I'm currently looking for opportunities to work on my professional develpment. 
                <br>
                If you have any projects that I can assist you with, please feel free to contact me.
                <br>
                I look forward to hearing from you soon!!
            </p>
            <p>
                <a href='mailto:fenix.sampson@gmail.com'>
                    fenix.sampson@gmail.com
                </a>
            </p>
            <p>
                <a href='tel:1-205-317-7681'>
                    (205) 317-7681
                </a>
            </p>
            <p>
                LinkedIn:
                <a href='https://www.linkedin.com/in/huston-fenix-sampson/' target='_blank'>
                    Fenix Sampson
                </a>
            </p>
            <p>
                Github:
                <a href='https://github.com/FenixS83' target='_blank'>
                    FenixS83
                </a>
            </p>
        </div>
    <!-- </div> -->
</div>
