<div class='contactCard'>
    <div class='contactCard__header'>
        <h3>Contact</h3>
    </div>
    <div class='contactCard__body'>
        <div class='contactCard__body__contact'>
            <a href='../../assets/images/fenix_sampson_business_card.PNG'>
                <img src='../../assets/images/fenix_sampson_business_card.PNG' 
                title='Fenix Sampson Business Card'
                class='businessCard'/>
            </a>
            <br>
            <h4>Hello and thanks...</h4>
            <p>
                I am a full-stack web developer with a passion for learning and building.
                I am currently looking for a position in the web development field.
                I am currently available for contract work.
            </p>
            <p>
                If you are interested in working with me, please feel free to contact me.
            </p>
            <p>
                <a href='mailto:fenix.sampson@gmail.com'>
                    fenix.sampson@gmail.com
                </a>
            </p>
            <p>
                <a href='tel:1-205-317-7681'>
                    (205) 317-7681
                </a>
            </p>
            <p>
                Github:
                <a href='https://github.com/FenixS83'>
                    FenixS83
                </a>
            </p>
        </div>
    </div>
</div>
