<nav class='navbar navbar-expand' style='background-color:#9f9d9d;' >
  <a>
  <img src="../assets/images/fenixLogoIconOnlyNobufferTransparent.png" alt='Home' class='nav-link' routerLinkActive='active' routerLink='/' title='Home'  />
  </a>
  <a class='navbar-brand' id="pageTitle">{{pageTitle}}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/about'>About</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/resume'>Resume</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/projects'>Projects</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/certifications'>Certificates and Proficiencies</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/contact'>Contact</a></li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>

</div>
<app-footer></app-footer>