nav {
   border-bottom: 4px solid #5171ff; 
}

img {
    max-width: 100px;
}

#pageTitle {
    font-size: 30px;
    margin-right: 6vw;
    margin-left: 1vw;
    color: #212121;
}

.container {
    padding-bottom: 24vh;
}

.nav-link {
    color: #212121;
}

.empty {
    height: 26vh;
}