nav {
   border-bottom: 4px solid #5171ff; 
   justify-content: space-between;
   flex-wrap: wrap;
   padding-right: 15px;
}

img {
    max-width: 100px;
}

ul {
    justify-content: end;
    font-size: 20px;
    font-weight: 400;
}

#pageTitle {
    font-size: 30px;
    margin-right: 6vw;
    /* margin-left: 1vw; */
    color: #212121;
}

.container {
    padding-bottom: 13vh;
}

.nav-link {
    color: #212121;
}
