<div class='welcome'>
<app-selfie></app-selfie>

<div class="briefBio"><h4>Hello and Welcome!</h4>
    <br>
    <p>I am a UCF Coding Boot Camp alumni who has developed a deep love for programming and development. My greatest personal traits include attention to detail while having a sense of urgency. I am an analytical and resourceful problem-solver with a disciplined mind ready to accomplish challenging development goals. My greatest joy comes from learning new skills and growing as an individual. I am currently seeking entry-level opportunities to expand my recently developed skills. </p>
</div>
</div>