.welcome {
    display: flex;
    align-items: top;
    justify-content: flex-start;

}

app-selfie {
    margin-top: 3vh;
}

h4 {
    text-align: center;
}

.briefBio {
    font-size: 20px;
    margin-left: 10vw;
    margin-top: 10vh;
    text-align: center;
}