.welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

app-selfie {
    order: 1;
    margin-top: 3vh;
    float: left;
}

h4 {
    text-align: center;
}

p {
    line-height: 1.75;
}

.briefBio {
    max-width: 50%;
    float: right;
    font-size: 20px;
    margin-left: 10vw;
    margin-top: 10vh;
    text-align: center;
}