.welcome {
    display: flex;
    justify-content: space-between;

}

app-selfie {
    margin-top: 3vh;
}

h4 {
    text-align: center;
}

p {
    line-height: 1.75;
}

.briefBio {
    font-size: 20px;
    margin-left: 10vw;
    margin-top: 10vh;
    text-align: center;
}