<div class='welcome'>
<app-selfie></app-selfie>

<div class="briefBio"><h4>Hello and Welcome!</h4>
    <br>
    <p>I am a Full Stack Web Developer who has recently discovered a deep love for programming and creation. My greatest personal traits include attention to detail while having a sense of urgency. I am an analytical and resourceful problem-solver with a disciplined mind ready to accomplish challenging coding goals. My greatest joy comes from learning new skills and growing as an individual. I am currently seeking opportunities to expand my skill set. </p>
</div>
</div>