.projectListCard {
    width: 92vw;
    margin-top: 5vh;
    margin-left: -2vw;
}

.projectsListTable {
    width: 90vw;
    border-collapse: separate;
    border-spacing: 1vw;

    /* margin-bottom: 20vh; */
}

tr > th {
    text-align: center;
}

tr > td {
    padding: 0.5vw;
    text-align: center;
}

.date {
    width: 15vw;
}

.description {
    width: 500px;
}

.projectThumbnail {
    width: 20vw;
    border: 1px solid #adaba8;
}