.projectListCard {
    width: 94vw;
    margin-top: 1vh;
    margin-left: -6vw;
}

.projectsListTable {
    width: 90vw;
    border-collapse: separate;
    border-spacing: 1vw;
}

tr > th {
    text-align: center;
}

tr > td {
    padding: 0.5vw;
    text-align: full-justify;
}

.description {
    width: 500px;
}

.projectThumbnail {
    width: 20vw;
    border: 1px solid #adaba8;
}