
<div class='projectListCard'>
    
    <div class='projectListHeader'>
        <h3>{{ pageTitle}}</h3>
        <div class='projectListSearch'>
            <div class='row'>
                <div class='searchlabel'>
                    <div class='col-md-4'>Search Skills List:</div>
                </div>
    
                <div class='col-md-4'>
                    <input type='text' 
                        [(ngModel)]='listFilter'/>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <div class='row'
    *ngIf='listFilter'>
        <div class='col-md-6'>
            <h4>Filtered by: {{listFilter}}</h4>
        </div>
    </div>

    <div class='table-responsive'>
        <table class='projectsListTable'>
            
            <thead>
                <tr>
                    <th class='thumbnail'>Thumbnail</th>
                    <th class='title'>Title</th>
                    <th class='date'>Date Created:</th>
                    <th class='description'>Description</th>
                    <th class='skillsUsed'>Skills Used:</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor='let project of filteredProjects'>
                    <td>
                        <img [src]='project.imageUrl'
                             [title]='project.projectTitle | uppercase'
                             [alt]='project.projectTitle'
                             class='projectThumbnail'/>
                    </td>

                    <td>
                        <a [routerLink]="['/projects', project.projectId]">
                            {{project.projectTitle}}
                        </a>
                    </td>

                    <td>
                        {{project.creationDate}}
                    </td>

                    <td>
                        {{project.description}}
                    </td>

                    <td>
                        {{project.skillsUsed}}
                    </td>


                </tr>
        </table>
    </div>
</div>

<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>


