
<div class='projectListCard'>
    
    <div class='projectListHeader'>
        <h3>{{ pageTitle}}</h3>
    </div>

    <div class='projectListCardBody'>
        <div class='row'>
            <div class='col-md-2'>Search Resources:</div>
            <div class='col-md-4'>
                <input type='text' 
                    [(ngModel)]='listFilter'/>
            </div>
        </div>
    </div>

    <div class='row'
    *ngIf='listFilter'>
        <div class='col-md-6'>
            <h4>Filtered by: {{listFilter}}</h4>
        </div>
    </div>

    <div class='table-responsive'>
        <table class='projectsListTable'>
            
            <thead>
                <tr>
                    <th>Thumbnail</th>
                    <th>Title</th>
                    <th>Date Created:</th>
                    <th>Description</th>
                    <th>Languages</th>
                    <th>Resources</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor='let project of filteredProjects'>
                    <td>
                        <img [src]='project.imageUrl'
                             [title]='project.projectTitle | uppercase'
                             [alt]='project.projectTitle'
                             class='projectThumbnail'/>
                    </td>

                    <td>
                        <a [routerLink]="['/projects', project.projectId]">
                            {{project.projectTitle}}
                        </a>
                    </td>

                    <td>
                        {{project.creationDate}}
                    </td>

                    <td>
                        {{project.description}}
                    </td>

                    <td>
                        {{project.languages}}
                    </td>

                    <td>
                        {{project.resources}}
                    </td>

                    <br>
                    <hr>
                    <br>

                </tr>
        </table>
    </div>
</div>

<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>


