
<div class='container my-5'>
    
    <h3>{{ pageTitle}}</h3>
    <div class="row justify-content-end">
        <div class='input-group col-md-4 justify-content-end'>
            <!-- <div class='input-group-text'>Search Skills List:</div> -->
            <input type='text' class="col-md-4  text-center" aria-label="Search Skills List" placeholder="Search Skills List:" [(ngModel)]='listFilter'/>
<!--             
                <div class='searchlabel float-end'>
                </div>
    
                <div class='col-md-4'>
                </div> -->
            
        </div>
    </div>

    <br>
    <br>
    <div class='row'
    *ngIf='listFilter'>
        <div class='col-md-6'>
            <h4>Filtered by: {{listFilter}}</h4>
        </div>
    </div>

    <div class='table-responsive'>
        <table class='table'>
            
            <thead>
                <tr>
                    <th scope='col'>Thumbnail</th>
                    <th scope='col'>Title</th>
                    <th scope='col'>Date Created:</th>
                    <th scope='col'>Description</th>
                    <th scope='col'>Skills Used:</th>
                    <!-- <th class='thumbnail'>Thumbnail</th>
                    <th class='title'>Title</th>
                    <th class='date'>Date Created:</th>
                    <th class='description'>Description</th>
                    <th class='skillsUsed'>Skills Used:</th> -->
                </tr>
            </thead>

            <tbody>
                <tr *ngFor='let project of filteredProjects'>
                    <td>
                        <img [src]='project.imageUrl'
                             [title]='project.projectTitle | uppercase'
                             [alt]='project.projectTitle'
                             class='img-fluid float-start'/>
                    </td>

                    <td>
                        <a class="text-decoration-none" [routerLink]="['/projects', project.projectId]">
                            {{project.projectTitle}}
                        </a>
                    </td>

                    <td>
                        {{project.creationDate}}
                    </td>

                    <td>
                        {{project.description}}
                    </td>

                    <td>
                        {{project.skillsUsed}}
                    </td>


                </tr>
        </table>
    </div>
</div>

<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>


