<div class='resume-container'>
    <div class='resume'>
        <h3>Resume</h3>
        <button class='btn'>
            <a href="../../assets/images/Huston_Fenix_Sampson_Resume.PDF">
            Printable Version
            </a>
        </button>
        <ul><h5>Category</h5></ul>
        <li>A bunch of relavant resume info should be inserted here</li>
        <li>A bunch of relavant resume info should be inserted here</li>
        <br>
        <ul><h5>Category</h5></ul>
        <li>A bunch of relavant resume info should be inserted here</li>
        <li>A bunch of relavant resume info should be inserted here</li>
    </div>
</div>
