.resume-container {
    height: 56vh;
    margin-top: 7vh;
    align-items: top;
    justify-content: flex-start;
}

.btn {
    background-color: #adaba8;
    color: #000000;
    margin-left: 65vw;
    margin-top: -7vh;
}

a {
    text-decoration: none;
}