<!-- This is the resume component that also contains a button to the printable version -->
<div class='container mt-4'>
    <div class="row justify-content-around">
        <h3 class='fs-3 lead text-center fw-bold'>Resume</h3>
        <div class="col" id="pdfSection">

            <a class='text-decoration-none' href="../../assets/Huston_Fenix_Sampson_Resume.pdf" target='_blank'
                id="pdfButton">
                <button class='btn col-md-4 float-end order-1 justify-content-center'>
                    <span class="text-center" style="color: #212121">Printable PDF Version</span>
                </button>
            </a>
            <div class='col-md-8 fs-4 fw-bold order-2' id="education">Education</div>
            <!-- This button will direct you to the printable pdf -->
            <!-- use image of pdf as button background -->
            <br>
            <ul>
                <p class='fs-5 fw-bold my-2 order-3'>University of Central Florida Coding Boot Camp</p>
                <li>Full Stack Web Development Certificate</li>
                <li>Graduation date: 12/2021</li>
            </ul>
            <br>
            <ul>
                <p class='fs-5 fw-bold my-2'>Mortimer Jordan High School</p>
                <li>High School Diploma</li>
                <li>Graduation date: 05/2002</li>
            </ul>
        </div>
        <br>
        <hr class="mt-3">
        <br>
        <ul>
            <div class='fs-4 fw-bold mt-3'>Extended Work Experience</div>
            <br>
            <ul>
                <div class='fs-5 fw-bold my-2'>Freelance Web Developer | 12/2021 - Current</div>
                <li>Developed skills in TypeScript</li>
                <li>Developed skills in Angular</li>
                <li>Developed skills in Graphic Design</li>
                <li>Developed skills in Adobe Photoshop</li>
                <li>Developed skills in Adobe Illustrator</li>
                <li>Developed private web application that is used to encourage and boost user's daily morale as well as
                    help to improve mood and emotional state of mind</li>
                <li>Developed private card game web application for a client</li>
                <li>Tutored other Web Development Bootcamp graduates on additional knowledge and best practices to help
                    them better prepare to use their skills in their new career paths</li>
                <li>Developed private web application to help rehome puppies as well as form community dashboard to help
                    maintain ongoing communications for adoptive families (still in development)</li>
            </ul>
            <br>
            <ul>
                <div class='fs-5 fw-bold my-2'>Wayne's Auto Sales | Social Media Manager | 01/2018 - 07/2021</div>
                <li>Developed and implemented strategic social media marketing campaigns</li>
                <li>Analyzed market data to determine and target key audience for marketing</li>
                <li>Enhanced organic search engine ranking and managed paid search marketing in order to maximize SEO
                </li>
                <li>Utilized audio/video equipment as well as audio/video editing software to aid in more appealing
                    marketing campaigns</li>
                <li>Directed social media and digital marketing strategy and initiatives to promote brand building,
                    customer retention and revenue-focused activities</li>
                <li>Aligned visual design and brand messaging elements to deliver consistency across digital advertising
                    and marketing platforms</li>
                <li>Developed, streamlined and updated company website and social media accounts</li>
                <li>Proposed innovative storylines for digital content and developed unique campaigns to promote brand
                    engagement</li>
                <li>Utilized Twitter, Instagram, YouTube and Facebook to promote products, services and content</li>
                <li>Performed competitor analysis to identify high-value keyword and backlink options</li>
                <li>Supported sales process by engaging appropriately when responding to online audience inquires and
                    posted comments</li>
                <li>Built and maintained corporate digital image, brand and identity</li>
                <li>Created and optimized promotional publications and related materials</li>
                <li>Conferred with department managers to develop internal communications to inform employees of updated
                    information or any upcoming company activities</li>
            </ul>
            <br>
            <ul>
                <div class='fs-5 fw-bold my-2'>Starbucks | Shift Manager | 11/2016 - 10/2018</div>
                <li>Oversaw safe and efficient day to day store operations</li>
                <li>Delegated tasks to employees and monitored activities to ensure task completion</li>
                <li>Coordinated shift-based inventory receiving, auditing and restocking</li>
                <li>Collaborated with team members to improve performance and implement training updates</li>
                <li>Provided coaching and reinforced standards to foster superior performance from crew members and
                    others throughout organization</li>
                <li>Employed security and loss prevention strategies during shift</li>
                <li>Evaluated operational records and made scheduling adjustments to maximize productivity</li>
                <li>Evaluated, reconfigured and performed equipment maintenance to support operational goals</li>
                <li>Counted cash on hand at shift change and closing to determine shortages or overages and prepare bank
                    deposit statements</li>
                <li>Supervised, motivated and led employees to maintain productivity and customer service levels</li>
                <li>Upheld company standards and compliance requirements for operations and cleanliness</li>
                <li>Complied with company safety procedures, policies and regulations to promote a safe working
                    environment</li>
                <li>Documented production levels, materials used and special incidents to keep management informed of
                    daily activities</li>
                <li>Resolved customer complaints and reported issues to senior management</li>
                <li>Completed opening and closing duties to facilitate business operations</li>
                <li>Created fun team building activities to engages staff in up-selling to meet revenue targets</li>
                <li>Positioned skilled staff in key areas throughout shift to optimize department productivity and to
                    assist in coaching less skilled staff</li>
                <li>Coordinated daily shift changes to facilitate tasks and handle special needs or requests</li>
                <li>Assisted general manager with implementing operations and company initiatives</li>
            </ul>
            <br>
            <ul>
                <div class='fs-5 fw-bold my-2'>Cadence Bank | Personal Banker | 12/2014 - 11/2016</div>
                <li>Evaluated client financial information to assist in controlling loan and credit related risks</li>
                <li>Met with clients to facilitate budget management and financial guidance</li>
                <li>Created strategic financial solutions to suit individualized client needs</li>
                <li>Expanded client relationships by maintaining regular follow-up processes and rapport</li>
                <li>Built strong relationships with new and existing clients to better serve financial needs and promote
                    branch loyalty</li>
                <li>Partnered with loan and mortgage officers and financial advisors to provide clients with optimal
                    financial solutions</li>
                <li>Helped customers open and close accounts, apply for loans and make sound financial decisions</li>
                <li>Exercised judgements when dispensing information to maintain confidentiality of sensitive
                    information</li>
                <li>Expanded client base through consistent product promotion and sales strategies</li>
                <li>Maximized branch revenue by optimizing daily operations</li>
                <li>Promoted diverse array of financial products by continuously acquiring new industry knowledge</li>
                <li>Developed highly productive teams to support branch operations and cultivate customer satisfaction
                </li>
                <li>Processed transactions and checks and maintained daily cash and deposit logs</li>
                <li>Processed several hundred transactions per day and handled money transfers, deposits and withdrawals
                </li>
                <li>Improved decision-making by using current data on market conditions and individual financial
                    situations</li>
                <li>Ordered supplies and materials to secure inventory and sensitive and propriety items</li>
                <li>Supported current and prospective customers with personalized banking services</li>
                <li>Delivered high level of customer service and support by answering questions and returning phone
                    calls quickly </li>
                <li>Handled teller functions with high accuracy, including making deposits and withdrawals, collecting
                    payments and processing cash orders </li>
                <li>Evaluated customers' credit and financial information to control risk related to loans and other
                    products offered by bank </li>
                <li>Increased growth of branch deposit values by actively assisting with marketing, sales development
                    and referral coordination </li>
                <li>Profiled and analyzed investment products to devise financial strategies, meeting client financial
                    needs and forecasting opportunities with highest return on investments </li>
                <li>Assisted commercial lenders with loan servicing, cash management and customer concerns </li>
            </ul>
            <br>
            <ul>
                <div class='fs-5 fw-bold my-2'>Wells Fargo | Teller | 11/2011 - 12/2014</div>
                <li>Maintained confidentiality of bank records and client information </li>
                <li>Researched and resolved customer issues on personal savings, checking and lines of credit accounts
                </li>
                <li>Ordered checks, placed stop payment orders and conducted additional special services for customers
                </li>
                <li>Adhered to financial services security and audit procedures </li>
                <li>Met or exceeded sales goals by promoting bank products and services in customer interactions </li>
                <li>Identified and reported suspicious behavior to security personnel as appropriate </li>
                <li>Directed specific questions to appropriate branch personnel </li>
                <li>Opened new checking, savings and lines of credit for customer accounts </li>
                <li>Entered member transaction data into online banking software </li>
                <li>Handled cash transactions, balanced cash drawers, performed loan payments and issued cashier's
                    checks </li>
                <li>Cashed customer checks, verified identification and checked account balances in accordance with bank
                    policy </li>
                <li>Assisted customers by phone and in person by answering banking questions and recommending solutions
                </li>
                <li>Kept teller window areas clean, organized and fully stocked </li>
                <li>Reconciled cash and checks against computer records at end of shift </li>
                <li>Responded and assisted customers with account inquiries and updates </li>
                <li>Balanced bank's vault of daily cash for withdrawals and deposits </li>
                <li>Entered transactions into computer and issued customer receipts </li>
                <li>Completed monthly audits and managed overdraft reports </li>
                <li>Processed sales transactions to prevent long customer wait times </li>
                <li>Explained bank services, financial products and applicable fees to customers </li>
                <li>Opened new accounts and served existing customers based on individual financial needs </li>
                <li>Promoted and sold banking products and financial services </li>
                <li>Performed currency transaction reports for foreign currency </li>
                <li>Identified customer financial needs, goals and objectives and offered appropriate financial products
                    to suit needs </li>
                <li>Adhered to strict guidelines regarding financial and customer data to avoid breaches and information
                    misuse </li>
                <li>Increased knowledge of banking products and services by actively participating in available training
                    classes and workshops offered to employees </li>
                <li>Maintained filing systems and other daily administrative and clerical support tasks to facilitate
                    loans, deposits and account services </li>
                <li>Assisted customers with bank operations, opening accounts, accessing safe deposit boxes and ATM
                    operations </li>
                <li>Identified and eliminated errors when balancing ATM transactions, teller cash dispensers and teller
                    cash recyclers </li>
                <li>Greeted and assisted customers with professional, knowledgeable support for diverse banking needs
                </li>
                <li>Demonstrated expertise in identifying and mitigating potential fraud and transaction risks </li>
                <li>Researched account information regarding loans and deposits </li>
                <li>Welcomed customers and offered pleasant service during entire transaction </li>
                <li>Took on additional shifts during busy periods to minimize staffing shortages </li>
                <li>Gathered, reviewed and sent loan documents to customers by working closely with loan staff </li>
                <li>Served large number of customers during high volume shifts and remained composed and professional in
                    stressful situations </li>
                <li>Created and maintained reports and journals for loans and transactions </li>
                <li>Earned high volume of referrals as part of bank's sales incentive system </li>
            </ul>
            <br>
            <ul>
                <div class='fs-5 fw-bold my-2'>Outback | Front of House Manager | 04/2002 - 11/2011</div>
                <li>Managed day-to-day restaurant operations with focus on quality and meeting customer expectations
                </li>
                <li>Handled complaints, settled disputes and resolved customer conflicts </li>
                <li>Delivered high level of quality service to each patron, resulting in consistent, positive feedback
                    from guests </li>
                <li>Directed front of house operations to deliver positive guest experiences through friendly service
                    and attention to guest needs </li>
                <li>Built strong, respectful employee relationships to drive employee satisfaction in a high turnover
                    industry </li>
                <li>Assigned work tasks and activities, prepared schedules and managed staffing </li>
                <li>Upheld operating procedures and safety standards to maximize guest satisfaction </li>
                <li>Improved customer service by setting expectations and coaching employees on proper service etiquette
                </li>
                <li>Coached and developed team members to support employee growth and development </li>
                <li>Developed goals and plans to prioritize, organize and accomplish daily service tasks </li>
                <li>Oversaw employee recruiting, hiring, performance management and discipline </li>
                <li>Mentored and coached service team on effective techniques to enhance customer experiences </li>
                <li>Controlled and maintained labor costs through careful scheduling </li>
                <li>Maximized profit and revenue through upselling and cross-selling techniques </li>
                <li>Communicated clear and consistent messages regarding service goals to servers, bartenders and hosts
                </li>
                <li>Enforced employee image and grooming standards </li>
                <li>Facilitated daily team meetings to discuss promotions, issues, service standards and team
                    collaboration </li>
                <li>Delegated tasks to all employees to maintain optimal workflow </li>
                <li>Implemented company training programs to help employees easily follow best practices and company
                    standards </li>
                <li>Monitored all FOH staff certifications to ensure compliance with industry standards </li>
                <li>Assisted with local marketing and advertising activities to drive new business development and
                    revenue growth </li>
                <li>Maintained loyal patronage by implementing guest appreciation initiatives </li>
                <li>Developed and implemented corrective action plans based on guest comment cards </li>
                <li class="mb-5">Partnered with the Proprietor to identify new ways to improve restaurant service </li>

            </ul>
        </ul>
    </div>
</div>