.projectDetailsCard {
    margin-top: 3vh;
    margin-bottom: 5vh;
}

button {
    float: right;
    margin-right: -35vw;
    margin-top: 10vh;
    background-color: #9f9d9d;
    color: #212121;
    border: 1px solid #5171ff; 
}

.card-body {
    padding: 5px;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.col-md-3 {
    font-weight: 500;
}

.projectImage {
    border: 1px solid #adaba8;
    width: 35vw;
    margin-left: -3vw;
    margin-top: -7vh;
}