
<div class='container my-5'>
    
    
    <h3>Project Details</h3>
    <!-- <div class='projectDetailsHeader'>
    </div> -->
    <div class='col-md-4 float-end'>
        <img [src]='project.imageUrl' 
            [title]='project.projectTitle | uppercase'
            [alt]='project.projectTitle'
            class='projectImage col-md-4'/>
    </div>

    <div class='card-body'>
        <div class='row'>
            <div class='col-md-8'>

                <div class='row'>
                    <div class='col-md-3'>Title:</div>
                    <div class='col-md-8'>{{project.projectTitle}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Date Created:</div>
                    <div class='col-md-8'>{{project.creationDate}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Description:</div>
                    <div class='col-md-8'>{{project.description}}</div>
                </div>
                <br>
                <div class='row'>
                    <div class='col-md-3'>Skills Used:</div>
                    <div class='col-md-8'>{{project.skillsUsed}}</div>
                </div>
                <br>
                <button class='btn btn-outline-secondary'
                        style='width:80px'
                        (click)='onBack()'>
                    <i class='fa fa-chevron-left'></i> Back
                </button>
                <br>
                <div class='row'>
                    <div class='col-md-3'>Github Repo:</div>
                    <a href={{project.github}} target='_blank'>
                        <div class='col-md-8'>{{project.github}}</div>
                    </a>
                </div>
                <br>
                <div class='row'>
                    <div class='col-md-3'>Deployed Link:</div>
                    <a href={{project.deployedLink}} target='_blank'>
                        <div class='col-md-8'>{{project.deployedLink}}</div>
                    </a>

                </div>

            </div>



        </div>
    </div>


</div>
