.projectDetailsCard {
    margin-top: 1vh;
}


.card-body {
    padding: 5px;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.projectImage {
    width: 40vw;
    margin-left: -1vw;
    margin-top: -7vh;
}